@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Quicksand&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #000;
    color: #fff;
    padding-top: 1px;
}

/* Logo and Navigation section */

header {
    width: 100%;
    height: 75px;
    background-color: #000;
}

nav {
    height: 75px;
}

#logo {
    float: left;
    font-size: 250%;
    margin-top: 5px;
    margin-left: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#nav-bar {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #nav-bar {
    line-height: 75px;
}

#nav-bar li{
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 200;
}

#nav-bar a {
    text-decoration: none;
    color: #fff;
}

#nav-bar a:hover {
    background-color: #fff;
    color: #000;
}

.active {
    font-size: 175%;
    border-bottom: 2px dashed #fff;
    border-top: 2px dashed #fff;
}

/* Hero Image section */

.section-headings {
    display: none;
}

#hero-outer {
    height: 675px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 675px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* About section */

#about {
    height: 600px;
}

#about-text {
    height: 600px;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    line-height: 45px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 110%;
}

.about-heading {
    text-decoration: underline;
    margin-bottom: 5px;
}

.about-images {
    height: 600px;
    width: 25%;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    float: left;
}

/* Map section */

#location-map {
    height: 100%;
    width: 100%;
    margin-top: 15px;
    border: none;
    overflow: hidden;
}

/* Footer section */

footer {
    height: 90px;
    margin-top: 0px;
    padding: 5px;
}

footer h4 {
    padding: 2px;
}

.social-media {
    text-align: center;
}

.social-media i {
    margin: 3px 30px;
    padding: 2px;
    color: #fff;
    font-size: 200%;
}

.social-media > li {
    display: inline;
}

/* Upcoming movies page */

.buffer {
    margin-top: 80px;
}

.day-date {
    height: 150px;
    width: 100%;
    line-height: 75px;
    float: left;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    text-align: center;
}

.sign-up-link {
    color: #fff;
}

.movies {
    height: 600px;
    width: 100%;
    clear: both;
}

.movie-left, .special-wrapper {
    padding: 2px;
    box-sizing: border-box;
}

.movie-detail {
    height: 600px;
    width: 33.33%;
    float: left;
}

.trailer {
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.movie-header-text, .movie-about-text, .special-title {
    padding: 5px;
    line-height: 35px;
}

.special-wrapper {
    height: 600px;
    width: 33.33%;
    float: right;
}

.special-contents > h2, p {
    text-align: center;
    margin-bottom: 5px;
}

.special-title {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.special-image {
    max-height: 400px;
    width: 100%;
    background: no-repeat center center;
    padding-top: 10px;
}

/* Sign-up page */

#sign-up-wrapper {
    height: 750px;
    width: 100%;
    position: relative;
}

#sign-up-hero-image {
    height: 750px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

#sign-up-box {
    height: 650px;
    width: 95%;
    top: 0px;
    left: 0px;
    position: absolute;
    border: 3px dashed #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2%;
}

#sign-up-box h2 {
    padding: 5px;
    margin-left: 7px;
}

#benefits {
    margin: 5px;
    padding-left: 50px;
}

.details-left {
    float: left;
    clear: both;
    margin-top: 5px;
    margin-left: 15px;
    padding: 10px;
}

.details-left label {
    font-size: 120%;
    line-height: 45px
}

.details-left input, select {
    height: 30px;
    width: 250px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
}

#fav-movie {
    height: 30px;
    width: 300px;
}

#buttons-wrapper {
    height: 70px;
    width: 100%;
    margin: 10px;
    clear: both;
}

.button {
    height: 50px;
    width: 30%;
    margin: 9px;
    float: left;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
}

/* Mediaqueries */

/* Larger to Medium screen sizes ~ 1200px and down */

@media screen and (max-width: 1200px) {

    header {
        height: 60px;
        padding-bottom: 5px;
    }

    #logo {
        width: 100%;
        font-size: 100%;
        line-height: 60px;
        margin: 0px;
        text-align: center;
    }
    
    #nav-bar {
        width: 100%;
        display: block;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 80%;
        height: 60px;
    }

    #nav-bar li {
        margin: 0px;
        padding: 0px;
        width: 33.33%;
        text-align: center;
    }

    #hero-outer {
        height: 300px;
        width: 100%;
    }

    #hero-image {
        height: 300px;
        width: 62%;
        margin-left: 19%;
        margin-right: 19%;
    }

    #about {
        height: 500px;
        width: 100%;
    }

    #popcorn {
        display: none;
    }

    #about-text {
        height: 500px;
        width: 60%;
        float: left;
        text-align: center;
        font-size: 90%;
        line-height: 20px;
        margin: 0px;
        padding: 25px;
    }

    #ticket-collection {
        margin: 0px;
        height: 500px;
        width: 40%;
        overflow: hidden;
    }

    .socialMedia {
        padding-top: 5px;
    }

    .socialMedia i {
        padding: 0px;
        margin: 0px;
        width: 33.33%;
        float: left;
    }

    #copyright {
        padding: 2px;
        text-align: center;
        font-size: 15px;
    }
/* Upcoming Movies Page*/

    .upcoming-movies-section {
        margin-top: 5px;
        height: 1250px;
        margin-bottom: 5px;
    }

    .movie-detail {
        height: 500px;
        width: 50%;
        float: left;
        padding: 0px;
    }
    .day-date {
        height: 100px;
        text-align: center;
        font-size: 20px;
        line-height: 35px;
        display: block;
    }

    .movie-time {
        height: 50px;
        font-size: 24px;
        text-align: center;
        text-decoration: underline;
    }

    .movie-title {
        height: 75px;
        font-size: 20px;
        text-align: center;
    }

    .trailer {
        height: 250px;
    }

    .movie-about-text {
        font-size: 14px;
        line-height: 22px;
    }

    .movie-left {
        height: 300px;
    }

    .special-wrapper {
        height: 500px;
        width: 100%;
        clear: both;
        margin-top: 5px;
    }

    .special-contents {
        width: 100%;
    }

    .special-title  {
        font-size: 18px;
        line-height: 20px;
    }

    .special-image {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        overflow: hidden;
    }

    .special-contents p, img {
        margin-bottom: 50px;
    }
/* Sign Up Page */
    #sign-up-wrapper {
        clear: both;
        height: 800px;
        width: 100%;
        align-content: center;
    }

    #sign-up-hero-image {
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }

    #sign-up-box {
        height: 750px;
        margin-left: 5%;
        width: 90%;
        z-index: 1;
    }

    #sign-up-box h2 {
        line-height: 18px;
        font-size: 15px;
        text-align: start;
    }

    #benefits {
        line-height: 12px;
        font-size: 10px;
        font-style: italic;
    }

    .details-left label {
        float: left;
        font-size: 100%;
        line-height: 20px
    }

    #fav-movie {
        width: 90%;
    }

    #button-wrapper {
        margin: 2px;
    }

    .button {
        width: 40%;
        float: left;
        margin: 10px;
    }

}
/* ************************************************************************ */
/* Medium to Smaller screen sizes ~ 950px and down  */

@media screen and (max-width: 950px) {
    
    #nav-bar {
        font-size: 75%;
    }

    #hero-image {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #about-text {
        font-size: 80%;
    }

/* Upcoming Movies Page*/

    .movie-time {
        font-size: 12px;
    }

    .movie-title {
        font-size: 15px;
    }

    .trailer {
        height: 200px;
    }

    .movie-about-text {
        font-size: 12px;
        line-height: 20px;
    }

    .special-title  {
        font-size: 12px;
    }

/* Sign Up Page */

}

/* ******************************************************************************* */
/* Smaller screen sizes ~ 600px and down  */

@media screen and (max-width: 600px) {
    
    #nav-bar {
        font-size: 60%;
    }

    #hero-image {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        overflow: hidden;
    }

    #about {
        height: 900px;
    }

    #about-text {
        height: 530px;
        width: 100%;
        text-align: center;
        font-size: 90%;
        line-height: 20px;
    }

    #ticket-collection {
        margin: 5%;
        width: 90%;
    }

/* Upcoming Movies Page*/

    .movie-detail {
        width: 100%;
    }

    .movie-time {
        font-size: 12px;
    }

    .movie-title {
        font-size: 15px;
    }

    .trailer {
        height: 250px;
    }

    .movie-about-text {
        font-size: 12px;
        line-height: 20px;
    }

    .special-title  {
        font-size: 12px;
        line-height: 20px;
    }

/* Sign Up Page */

}
/* ************************************************************************ */
/* Smaller to very small screen sizes ~ 450px and down  */

@media screen and (max-width: 450px) {
    
    #nav-bar {
        font-size: 60%;
    }

    #hero-image {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #about {
        height: 750px;
        width: 100%;
    }

    #about-text {
        height: 530px;
        width: 100%;
    }

    #ticket-collection {
        height: 450px;
        width: 100%;
        margin: 0px;
        padding: 5px;
        float: left;
    }

/* Upcoming Movies Page*/
    .upcoming-movies-section {
        padding-top: 10px;
        height: 600px;
        padding-bottom: 10px;
    }

    .day-date {
        height: 150px;
    }

    .movie-time {
        font-size: 12px;
    }

    .movie-title {
        font-size: 15px;
    }

    .trailer {
        height: 200px;
    }

    .special-title  {
        font-size: 12px;
    }

/* Sign Up Page */

    .button {
        width: 100px;
    }
}