@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Quicksand&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #000;
    color: #fff;
    padding-top: 1px;
}

/* Logo and Navigation section */

header {
    width: 100%;
    position: fixed;
    background-color: #000;
}

#logo {
    float: left;
    font-size: 250%;
    margin-top: 5px;
    margin-left: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#nav-bar {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #nav-bar {
    line-height: 75px;
}

#nav-bar li{
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 200;
}

#nav-bar a {
    text-decoration: none;
    color: #fff;
}

#nav-bar a:hover {
    background-color: #fff;
    color: #000;
}

.active {
    font-size: 175%;
    border-bottom: 2px dashed #fff;
    border-top: 2px dashed #fff;
}

/* Hero Image section */

#hero-outer {
    height: 675px;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
}

#hero-image {
    height: 675px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: no-repeat center center;

    zoom: 155%;
}

/* About section */

#about {
    height: 600px;
}

#about-text {
    height: 600px;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    
    line-height: 45px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;

    text-align: center;
    font-size: 110%;
}

.about-heading {
    text-decoration: underline;
    margin-bottom: 5px;
}

.about-images {
    height: 600px;
    width: 25%;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    float: left;
}

/* Footer section */

footer {
    height: 90px;
    margin-top: 0px;
}

.social-media {
    text-align: center;
}

.social-media i {
    margin: 3px 30px;
    color: #fff;
    font-size: 200%;
}

.social-media > li {
    display: inline;
}

/* Upcoming movies page */

.day-date {
    height: 75px;
    width: 100%;
    margin-top: 80px;
    line-height: 75px;
    float: left;

    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    
    text-align: center;
}

.sign-up-link {
    color: #fff;
}

.movies {
    height: 600px;
    width: 100%;
    clear: both;
}

.movie-left, .special-wrapper {
    padding: 2px;
    box-sizing: border-box;
}

.movie-detail {
    height: 600px;
    width: 33.33%;
    float: left;
}

.trailer {
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.movie-header-text, .movie-about-text, .special-title {
    padding: 5px;
    line-height: 35px;
}

.special-wrapper {
    height: 600px;
    width: 33.33%;
    float: right;
}

.special-contents > h2, p {
    text-align: center;
    margin-bottom: 5px;
}

.special-title {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.special-image {
    max-height: 400px;
    width: 100%;
    background: no-repeat center center;
    padding-top: 10px;
}